
/*Fonts*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: #353535;
}

body {
  font-family: "Open+sans", sans-serif;
  color: #353535;
}

/*Navbar*/
.navbar-dark {
    background-color: #353535;
}

.navbar-dark .navbar-brand {
    color: #f0EDEE;
    /*font-family: "Merriweather", serif;*/
}

/*Buttons*/
.btn:focus, btn:active {
   outline: none;
   box-shadow: none;
}

.btn-primary {
    /*background: #f0EDEE;*/
    /*background: #FCF7F8;*/
    background: #DEE5E5;
    color: #353535;
/*    border-color: #a72608;*/
    border-color: #70A0AF;
}

.btn-primary:hover {
    /*background: #CfA69D;*/
    background: #B8D4E3;
    color: #353535;
    /*border-color: #A72608;*/
    border-color: #70A0AF;    
}

.btn-secondary{
    /*background: #A72608;*/
    background: #70A0AF;
    color: white;
    border: none;
}

.btn-secondary:hover {
    /*background: #8F2007;*/
    background: #59808C;
    color: white;
}

/*Links*/
a {
  padding-left: 5px;
  color: #353535;
}

.nav a i {
  /*color: #BA1200;*/
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-left: 5px;*/
}

/*Backgrounds*/
#login-background, #home-background {
  background: url(/static/jpg/rawpixel-618738-unsplash.jpg#) no-repeat center center;
  background-size: cover;  
}

#home-background {
  padding-top: 100px;  
}

.background {
  background: url(/static/jpg/rawpixel-618738-unsplash.jpg) no-repeat center center;
  background-size: cover;
  padding-right: 0px;
  padding-left: 0px;
}

.foreground {
  padding-top: 20px;
  background: rgba(255,255,255,0.8);
}

/*#filter {
  background-color: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}*/

/*.background {
  background: url(/static/jpg/rawpixel-618738-unsplash.jpg) no-repeat center center;
  background-size: cover;
  opacity: 1.0;
}*/

/*Page styling*/
#subtitle {
  padding-top: 70px; 
  padding-left: 10px;
  color: #BA1200; 
}

.page-header {
/*    position: fixed;*/
    text-align: center;
}

/*For homepage*/
.home-main {
  padding-top: 325px;
  padding-left: 15%;
  padding-right: 15%;
}

#home-title {
  color: white;
}

#enter-button {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 30%;
/*  display: flex;
  justify-content: center;*/
}

#home-about {
/*  margin-top: 125px;
  margin-bottom: 125px;*/
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: white;
  opacity: 0.9;
  /*border: 1px solid #808080;*/
}

/*For user main page*/
#daily-tracking {
  padding-top: 50px;
/*  :center;*/
/*  background-color: white;*/ 
}

#side-nav {
  border-left: 1px solid #BA1200;
}

/*.affix {
  top: 20px;
  z-index: 9999 !important;
}

.affix-top {
  width: 100%;
}

.affix-bottom {
  width: 100%;
  position: absolute;
}*/

/*#date-nav {
    position: fixed;
    text-align: center;
}*/

/*For add tracking*/
.subselect {
  padding-left: 50px;
}

/*For login*/
.login-form {
  margin-top: 125px;
  margin-bottom: 125px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
  opacity: 0.9;
  border: 1px solid #808080;
}

.login {
  display:block;
  width:100%;
  height:30px;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}



/*For D3*/
path { 
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
} 