
.navbar-dark {
    background-color: #353535;
}

.navbar-dark .navbar-brand {
    color: #f0EDEE;
}

.btn:focus, btn:active {
   outline: none;
   box-shadow: none;
}

.btn-primary {
    background: #f0EDEE;
    color: #353535;
    border-color: #a72608;
}

.btn-primary:hover {
    background: #CfA69D;
    color: #353535;
    border-color: #A72608;
}

.btn-secondary{
    background: #A72608;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background: #8F2007;
    color: white;
}

#subtitle {
  padding-top: 70px;  
}

.page-header {
/*    position: fixed;*/
    text-align: center;
}

/*.background {
  background: url(/static/png/round/round.png) center center;
  background-size: cover;
}*/

#login-background, #home-background {
  background: url(/static/jpg/rawpixel-618738-unsplash.jpg) no-repeat center center;
  background-size: cover;  
}

#home-background {
  padding-top: 100px;  
}

.login-form {
  margin-top: 125px;
  margin-bottom: 125px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
  opacity: 0.9;
  border: 1px solid #808080;
}

#home-about {
  margin-top: 125px;
  margin-bottom: 125px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: white;
  opacity: 0.9;
  /*border: 1px solid #808080;*/
}

#daily-tracking {
  padding-top: 50px;
/*  :center;*/
/*  background-color: white;*/ 
}

#enter-button {
  padding-bottom: 50px;
/*  background-color: white;*/ 
}

.subselect {
  padding-left: 50px;
}

#side-nav {
  border-left: 1px solid #808080;
}

.login {
  display:block;
  width:100%;
  height:30px;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}




/*.affix {
  top: 20px;
  z-index: 9999 !important;
}

.affix-top {
  width: 100%;
}

.affix-bottom {
  width: 100%;
  position: absolute;
}*/

/*#date-nav {
    position: fixed;
    text-align: center;
}*/





/*For D3*/
path { 
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
} 