.navbar-light {
    background-color: #C0C0C0;
}

.navbar-light .navbar-brand {
    color: #CC3B3F;
}

.btn:focus,.btn:active {
   outline: none;
   box-shadow: none;
}

.btn-primary {
    background: #C0C0C0;
    color: #CC3B3F;
    border: none;
}

.btn-primary:hover {
    background: #A9A9A9;
    color: #CC3B3F;
}

.btn-secondary{
    background: #CC3B3F;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background: #A32F32;
    color: white;
}

#subtitle {
  padding-top: 70px;  
}

.page-header {
/*    position: fixed;*/
    text-align: center;
}

#daily-tracking {
  padding-top: 50px; 
}

#side-nav {
    border-left: 1px solid #808080;
}

input, textarea {
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}


/*.affix {
  top: 20px;
  z-index: 9999 !important;
}

.affix-top {
  width: 100%;
}

.affix-bottom {
  width: 100%;
  position: absolute;
}*/

/*#date-nav {
    position: fixed;
    text-align: center;
}*/





/*For D3*/
path { 
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
} 