{% extends 'base.html' %}

{% block title %}Health Tracker - New Tracking{% endblock %}

{% block content %}

<a href="/user/{{session['userid']}}">Return to daily log page</a>

<p><form id="new_condition_form">
  Choose a new condition you would like to track:
  <select id="new_conditions">
    {% for condition in unused_conditions %}
      <option name="new_condition" value={{ condition.cond_id_pk }}>
        {{ condition.cond_name }}
      </option>
    {% endfor %}
  </select>
  <p>Description:
  <span id="new_condition_desc"></span></p>
  <input type="submit" id="new_condition_submit" value="Start Tracking">
</form></p>

OR

<p><form id="user_condition_form">
  Choose a condition for which you would like to track a new item:
  <select id="user_conditions">
    {% for condition in user_conditions %}
      <option value={{ condition.cond_id_pk }}>
        {{ condition.cond_name }}
      </option>
    {% endfor %}
  </select>
  <p>Description:
  <span id="user_condition_desc"></span></p>
  <input type="submit" id="user_condtion_submit">
</form></p>

<script src="/static/js/add-condition-tracking.js"></script>
<script src="/static/js/add-item-tracking.js"></script>

{% endblock %}