
<!doctype html>
<html>
<head>
  <title>{% block title %}Health Tracker{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  {% block nav %}
    {% if session.get('userid') %}
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Health Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user/{{ session['userid'] }}">Daily Log</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plot">Plots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/query">Query</a>
            </li>            
          </ul>
          <ul class="navbar-nav mr-0">
            <li class="nav-item">
              <a class="nav-link" href="/add-tracking">Add Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stop-tracking">Remove Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    {% endif %} 
  {% endblock %}

 <div id="subtitle">
  Track your way to a healthier you!

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

    <hr>
  </div>

  {% block content %} put your content here {% endblock %}

  <footer>Lena Ireland 2018</footer>
  
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>