
<!doctype html>
<html>
<head>
  <title>{% block title %}Health Tracker{% endblock %}</title>
<!--   <link rel="stylesheet" href="/static/css/styles.css"> -->
  <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>
  Track your way to a healthier you!

  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>

  <hr>

  {% block content %} put your content here {% endblock %}

  <footer>Lena Ireland 2018</footer>

</body>
</html>