
<!doctype html>
<html>
<head>
  <title>{% block title %}Health Tracker{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
</head>

<body>
  Track your way to a healthier you!

  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>

  <hr>

  {% block content %} put your content here {% endblock %}

  <footer>Lena Ireland 2018</footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>