{% extends 'base.html' %}

{% block title %}Health Tracker - Query{% endblock %}

{% block content %}

<a href="/user/{{session['userid']}}"><i class="fas fa-arrow-left"></i> Return to Daily Log Page</a><br><br>

<div class="container-fluid">

  <h2>Query Logged Item</h2>

  <form id="user_symptom_query_form">
    <div class="form-row align-items-center">
      <b>Choose a symptom to query on:</b>
      <div class="col-auto my-1">
        <select class="custom-select" id="symptoms">
          {% for symptom in symptoms %}
            <option value="{{ symptom.Symptom.symptom_name}};{{ symptom.Symptom.symptom_id_pk }}">
              {{ symptom.Symptom.symptom_name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" id="user_symptom_submit" value="Query" class="btn btn-primary">
    </div>
  </form>

  <form id="user_value_query_form">
    <div class="form-row align-items-center">
      <b>Choose a value item/test to query on:</b>
      <div class="col-auto my-1">
        <select class="custom-select" id="values">
          {% for value in values %}
            <option value="{{ value.ValueType.value_name }};{{ value.ValueType.value_id_pk }}">
              {{ value.ValueType.value_name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" id="user_value_submit" value="Query" class="btn btn-primary">
    </div>
  </form>

  <form id="user_count_query_form">
    <div class="form-row align-items-center">
      <b>Choose a medication/count item to query on:</b>
      <div class="col-auto my-1">
        <select class="custom-select" id="counts">
          {% for count in counts %}
            <option value="{{ count.CountType.count_name }};{{ count.CountType.count_id_pk }}">
              {{ count.CountType.count_name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" id="user_count_submit" value="Query" class="btn btn-primary">
    </div>
  </form>

  <div id="query_results">
    <br>
    <h3 id="name"></h3>
    <p id="nameResult"></p>
    <b><p id="otherItems"></p></b>
    <p id="listOutput"></p>
  </div>

</div>

<script src="/static/js/query.js"></script> 

{% endblock %}