{% extends 'base.html' %}

{% block title %}Health Tracker - Query{% endblock %}

{% block content %}

<a href="/user/{{session['userid']}}">Return to daily log page</a>

<p><form id="user_symptom_query_form">
  Choose a symptom to query on:
  <select id="symptoms">
    {% for symptom in symptoms %}
      <option value="{{ symptom.Symptom.symptom_name}};{{ symptom.Symptom.symptom_id_pk }}">
        {{ symptom.Symptom.symptom_name }}
      </option>
    {% endfor %}
  </select>
  <input type="submit" id="user_symptom_submit" value="Query">
</form></p>

<p><form id="user_value_query_form">
  Choose a value item/test to query on:
  <select id="values">
    {% for value in values %}
      <option value="{{ value.ValueType.value_name }};{{ value.ValueType.value_id_pk }}">
        {{ value.ValueType.value_name }}
      </option>
    {% endfor %}
  </select>
  <input type="submit" id="user_value_submit" value="Query">
</form></p>

<p><form id="user_count_query_form">
  Choose a medication/count item to query on:
  <select id="counts">
    {% for count in counts %}
      <option value="{{ count.CountType.count_name }};{{ count.CountType.count_id_pk }}">
        {{ count.CountType.count_name }}
      </option>
    {% endfor %}
  </select>
  <input type="submit" id="user_count_submit" value="Query">
</form></p>

<div id="query_results">
  <h3 id="name"></h3>
  <p id="nameResult"></p>
  <h4 id="otherItems"></h4>
  <p id="listOutput"></p>
</div>

<script src="/static/js/query.js"></script> 

{% endblock %}