{% extends 'base.html' %}

{% block title %}Health Tracker

{% endblock %}

{% block content %}

  <a href="/settings">Settings</a><br>
  <a href="/logout">Logout</a>

  {% if user.fname %}

    <h2>Welcome {{user.fname}}</h2>
  {% else %}
    <h2>Welcome</h2>
  {% endif %}

  <p>
  {% if date==today %}
    <a href="/user/{{session['userid']}}/{{prev_date}}">Yesterday ({{prev_date}})</a>
    <br><b>Today ({{date}})</b><br>   
  {% elif date < today %}
    <a href="/user/{{session['userid']}}/{{prev_date}}">{{prev_date}}</a>
    <br><b>{{date}}</b><br>
    <a href="/user/{{session['userid']}}/{{next_date}}">{{next_date}}</a>  
  {% else %}
    You can't track future days!
  {% endif %}
  </p>

  {% for condition in info %}
    <h2>{{condition}}</h2>
    {% for symptom in info[condition]['symptoms'] %}

        <p id="symptom-{{symptom.Symptom.symptom_id_pk}}">{{symptom.Symptom.symptom_name}}</p> 
    {% endfor %}
    -----------

    {% for item in info[condition]['value_types'] %}
        <p id="value-{{item.ValueType.value_id_pk}}">{{item.ValueType.value_name}}</p> 
    {% endfor %}
    -----------

    {% for item in info[condition]['count_types'] %}
        <p id="value-{{item.CountType.count_id_pk}}">{{item.CountType.count_name}}</p> 
    {% endfor %}
    -----------

  {% endfor %}


  <p id="user_tracking"></p>

  <script src="/static/js/usermainpage.js"></script>

{% endblock %}