{% extends 'base.html' %}

{% block title %}Health Tracker{% endblock %}

{% block content %}

  <a href="/settings">Settings</a><br>
  <a href="/logout">Logout</a>

  {% if user.fname %}

    <h2>Welcome {{user.fname}}</h2>
  {% else %}
    <h2>Welcome</h2>
  {% endif %}

  <p>
  {% if date.date()==today.date() %}
    <a href="/user/{{ session['userid'] }}/{{ prev_date.date() }}">
      Yesterday ({{ prev_date.date() }})</a>
    <br><b>Today ({{ date.date() }})</b><br> 

  {% elif date.date() < today.date() %}
    <a href="/user/{{ session['userid'] }}/{{ prev_date.date() }}">
      {{ prev_date.date() }}</a>
    <br><b>{{ date.date() }}</b><br>
    <a href="/user/{{ session['userid'] }}/{{ next_date.date() }}">
      {{next_date.date()}}</a> 

  {% else %}
    You can't track future days!
    <a href="/user/{{ session['userid'] }}/{{ today.date() }}">
    Today ({{ today.date() }})</a>
  {% endif %}
  </p>

  <p>
    <a href="/add-tracking">Add new condition/item to track</a>
  </p>

  {% for condition in info %}
    <h2>{{condition}}</h2>
    {% for symptom in info[condition]['symptoms'] %}

      <p>{{symptom.Symptom.symptom_name}}
        <button name="symptombutton"
          id="usersymptom {{symptom.Symptom.symptom_id_pk}} {{ date.date() }}">
          -
        </button>
      </p>

    {% endfor %}
    -----------

    {% for item in info[condition]['value_types'] %}
      <p>
        <form name="valueform" 
          id="uservalue {{item.ValueType.value_id_pk}} {{ date.date() }}">
        {{item.ValueType.value_name}}
          <input type="text" name="value">
          <input type="submit" name="submit">
        </form>
      </p> 
    {% endfor %}
    -----------

    {% for item in info[condition]['count_types'] %}
      <p>
        <form name="countform" 
          id="usercount {{item.CountType.count_id_pk}} {{ date.date() }}">
        {{item.CountType.count_name}}
          <input type="number" name="count">
          <input type="submit" name="submit">
        </form>
      </p> 
    {% endfor %}
    -----------

  {% endfor %}

  <script src="/static/js/symptoms-update.js"></script>
  <script src="/static/js/value-items-update.js"></script>
  <script src="/static/js/count-items-update.js"></script>

{% endblock %}